html, body {
    margin: 0;
    border: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    aligh-items: center;
    backgroud-color: white;
}

h1, h2